/* Body +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body{
    background-image: url("../images/alaska_glacier.jpg");
    background-repeat: no-repeat;
    background-position: -1000px -500px;
}

/* Navbar +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.navbar{
    opacity: 0.9;
}

/* Titre ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
h1{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 200px 0;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 5em;
}

