/* Frontend +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Body +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.bodyFront{
    background-image: url("../images/alaska_glacier.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: -1000px -500px;
}


/* Navbar +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.navbar{
    opacity: 0.95;
}


/* Titres ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
h1{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 500px 0;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 5em;
}

h2{
    margin: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 3em; 
}

h3{
    margin: 0;
    font-family: 'Kaushan Script', cursive;
    font-size: 2em
}


/* Last Chapter indexView + All Chapter chapterView +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.infoImg{
    border-radius: 50%;
}

.lastChapter, .infoAlaska, .allChapters{
    display:flex;
    margin: 200px 0;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: center;
}

.chapterLink{
    text-align: center;
    padding: 20px 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
}

.info{
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 20px 20px;
}


/* Target Chapter chapterTargetView ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.postTarget{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p{
    width: 100%;
    margin: 0;
    padding: 20px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.commentary{
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Comments postTargetViewc & User Condition  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.commentPost{
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.date{
    font-size: 0.5em;
}

.commentContent,.infoUser{
    margin: 20px 0;
    padding: 20px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    text-align: center;
    background-color: initial;
}

.commentBtn{
    font-family: 'Lato', sans-serif;
}

.alert{
    float: right;
    color: red;
}

/* Inscription Form & Connection Form +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#inscriptionForm,#connectionForm{
    background-color: rgba(255, 255, 255, 0.9);
}

label{
    font-family: 'Kaushan Script', cursive;
}

/* Account Management ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.accountManagement{
    display:flex;
    margin: 200px 0;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    text-align: center;
}

.accountPseudo{
    margin-top: 50px;
}

.infoAvatar{
    font-family: 'Kaushan Script', cursive;
    font-size: 0.3em; 
}


/* Footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
footer{
    margin: 100px 0 0 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.footer{
    font-size: initial;
    margin:0;
    background-color: initial;
}


/* Error ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.error{
    background-color: rgba(0, 0, 0, 0.7);
    color: red;
}

/* Backend +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Body Back +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.bodyBack{
    background-image: radial-gradient(circle at top right, grey, black);
}

/* Index Back +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.infoIndexBack{
    display:flex;
    margin: 0;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
}

/* Modification Chapter View ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.publish{
    color: rgb(21, 226, 21);
}

.publish:hover{
    color: green;
}

.supp{
    color: red;
}

.supp:hover{
    color: darkred;
}

.modificationChapter{
    margin-bottom: 50px;
}

/* Modification Target Chapter ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.imageChapter{
    display:flex;
    margin: 200px 0;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    text-align: center;
}

.imageChapter p{
    background-color: initial;
}

.tinyText{
    height: 500px;
}